
<div class="layui-card-header">版权信息</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>当前版本：layuiAdmin-v{{ layui.admin.v }}</p>
    <p>基于框架：layui-v{{ layui.v }}</p>
  </script>
  <!-- <div class="layui-btn-container">
    <a href="http://www.layui.com/admin/" target="_blank" class="layui-btn layui-btn-danger">获取授权</a>
    <a href="http://fly.layui.com/download/layuiAdmin/" target="_blank" class="layui-btn">下载新版</a>
  </div> -->
</div>

<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">
  
  <blockquote class="layui-elem-quote" style="border: none;">
    这是 由个人兴趣 自主开发的X象编程后台工作系统，单纯个人兴趣。 <a href="http://http://cbadmin.knowbox.cn/?#/homeWorkManage/homeWorkCheck" >原地址</a>
    <br>
    本项目 前端框架基于layui Admin ，目前还在测试阶段，无任何商业盈利行为。
    <br>
    原则上无任何版权，也不会追究盗用责任...
  </blockquote>
  <!-- <p>© 2018 <a href="http://www.layui.com/">layui.com</a> 版权所有</p> -->
</div>